[submodule "3rdparty/superglue"]
	path = 3rdparty/superglue
	url = https://github.com/magicleap/SuperGluePretrainedNetwork.git
[submodule "3rdparty/d2net"]
	path = 3rdparty/d2net
	url = https://github.com/mihaidusmanu/d2-net.git
